
@{
    ViewData["Title"] = "Index";
}


<section class="hero">


    <div class="container hero-text">
        <h1>WELCOME TO DAY</h1>
        <h4>We are team of talented designers making websites with Bootstrap</h4>
        <button type="button" class="btn hero-btn">GET STARTED</button>
    </div>

</section>

<section class="pricing">

    <div class="container">
        <div class="row">

            <h1 class="ghost">PRICING</h1>

            <h3 class="pricing-h3">PRICING</h3>

            <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>

            <div class="col-md-4">

                <div class="card pricing-cards">
                    <div class="card-body">
                        <h5 class="card-title">FREE</h5>
                        <h3 class="card-subtitle mb-2 text-muted">$0 / month</h3>
                        <p class="card-text">Aida dere <br> Nec feugiat nisl <br> Nulla at volutpat dola</p>
                        <p class="line-through">Pharetra massa <br> Massa ultricies mi</p>
                        <button type="button" class="btn hero-btn">Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="card pricing-cards red-card">
                    <div class="card-body">
                        <h5 class="card-title">FREE</h5>
                        <h3 class="card-subtitle mb-2 text-muted">$0 / month</h3>
                        <p class="card-text">Aida dere <br> Nec feugiat nisl <br> Nulla at volutpat dola</p>
                        <p class="line-through">Pharetra massa <br> Massa ultricies mi</p>
                        <button type="button" class="btn hero-btn">Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="card pricing-cards">
                    <div class="card-body">
                        <h5 class="card-title">FREE</h5>
                        <h3 class="card-subtitle mb-2 text-muted">$0 / month</h3>
                        <p class="card-text">Aida dere <br> Nec feugiat nisl <br> Nulla at volutpat dola</p>
                        <p class="line-through">Pharetra massa <br> Massa ultricies mi</p>
                        <button type="button" class="btn hero-btn">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="team">
    <h1 class="ghost">TEAM</h1>

    <h3 class="pricing-h3">TEAM</h3>

    <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card team-cards shadow p-3 mb-5 bg-body rounded border-0">
                    <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/team/team-1.jpg" class="team-img" alt="...">
                    <div class="card-body team-cards">
                        <h5 class="card-title">Card title</h5>
                        <p>Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut</p>
                        <a href="">
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card team-cards shadow p-3 mb-5 bg-body rounded border-0">
                    <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/team/team-2.jpg" class="team-img" alt="...">
                    <div class="card-body team-cards">
                        <h5 class="card-title">Card title</h5>
                        <p>Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut</p>
                        <a href="">
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card team-cards shadow p-3 mb-5 bg-body rounded border-0">
                    <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/team/team-3.jpg" class="team-img" alt="...">
                    <div class="card-body team-cards">
                        <h5 class="card-title">Card title</h5>
                        <p>Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut</p>
                        <a href="">
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24311.55579331572!2d49.82935522854007!3d40.38792322471226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d7118f3ebbb%3A0xd6db2a60af775bdf!2sKoala%20Park!5e0!3m2!1sen!2s!4v1656504720640!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>



            </div>

            <div class="col-md-6">

                <div class="col-md-6">


                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

